@import "tailwindcss";

@layer base {
  :root {
    /* --- TEMA DÍA --- */
    --app-bg: #F1F5F9;
    --nav-bg: rgba(241, 245, 249, 0.9);
    --card-bg: #FFFFFF;
    --item-bg: #E2E8F0;
    --border-main: #CBD5E1;
    --text-title: #0F172A;
    --text-body: #475569;
    --grid-plus: #94A3B8;

    /* Modo Claro: Pasteles vibrantes y limpios */
    --item-c1: #E0F2FE; /* Cyan Pastel */
    --item-c2: #F3E8FF; /* Violeta Pastel */
    --item-c3: #DCFCE7; /* Esmeralda Pastel */
    --item-c4: #FEF9C3; /* Sol Pastel */
    --item-c5: #FFE4E6; /* Rosa Pastel */
  }

  [data-theme='dark'] {
    /* --- TEMA NOCHE --- */
    --app-bg: #1E293B;
    --nav-bg: rgba(30, 41, 59, 0.95);
    --card-bg: #0F172A;
    --item-bg: #334155;
    --border-main: #334155;
    --text-title: #F8FAFC;
    --text-body: #CBD5E1;
    --grid-plus: #1E293B;

    /* Modo Oscuro: Colores Gema (Vibrantes pero profundos) */
    --item-c1: #075985; /* Zafiro */
    --item-c2: #581C87; /* Amatista */
    --item-c3: #065F46; /* Esmeralda */
    --item-c4: #854D0E; /* Ámbar */
    --item-c5: #9F1239; /* Rubí */
  }
}

@theme {
  --color-app-bg: var(--app-bg);
  --color-nav-bg: var(--nav-bg);
  --color-card-bg: var(--card-bg);
  --color-item-bg: var(--item-bg);
  --color-border-main: var(--border-main);
  --color-text-title: var(--text-title);
  --color-text-body: var(--text-body);
  --color-grid-plus: var(--grid-plus);
  
  --color-item-1: var(--item-c1);
  --color-item-2: var(--item-c2);
  --color-item-3: var(--item-c3);
  --color-item-4: var(--item-c4);
  --color-item-5: var(--item-c5);
}